@font-face {
  font-family: "iconfont"; /* Project id 3364500 */
  src: url('iconfont.woff2?t=1652146903760') format('woff2'),
       url('iconfont.woff?t=1652146903760') format('woff'),
       url('iconfont.ttf?t=1652146903760') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.8rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e699";
}

.icon-icon_cancle:before {
  content: "\e657";
}

.icon-triangle:before {
  content: "\e6de";
}

.icon-juxing:before {
  content: "\e620";
}

.icon-text:before {
  content: "\e768";
}

.icon-radio-on:before {
  content: "\ea6a";
}

.icon-project-solid-list:before {
  content: "\e6cf";
}

.icon-blog:before {
  content: "\e627";
}

.icon-moon:before {
  content: "\e640";
}

.icon-sun:before {
  content: "\e6d2";
}

.icon-github:before {
  content: "\e6b7";
}

